# Override Hack misdetection
htaccess linguist-language=ApacheConf
.htaccess linguist-language=ApacheConf
Dockerfile linguist-detectable=false
start.sh linguist-detectable=false
apache.conf linguist-detectable=false
schema.sql linguist-detectable=false
